/*!
Alicia Gordan's Website
June 1, 2016
Version 1.0

Color Palette
dark tan    : #c8c8bb;
tan         : #f3f2ea;
light tan   : #f7f7f2;
dark blue   : #00356c;
dark grey   : #404345;
aqua-green  : #006b6c;
red         : #6c0100;
*/


/******************************
////////BASIC FOUNDATION///////
*****************************/

body, html {
  background-color: #f3f2ea;
  width: 100%;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.09em;
}

h1, h2, h3 {
  color: #00356c;
}

#wrap .adjust-pad {
  padding-top: 100px;
  padding-bottom: 150px;
}

@media(min-width: 768px) {
  #wrap .adjust-pad {
    padding-top: 150px;
  }
}

a {
  color: #404345;
  text-decoration: none;
}

a:visited {
  color: #404345;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  color: #fff;
}

a:active {
  color: #fff;
}

ul, li {
  list-style: none;
}

ul {
  padding-left: 15px;
}

@font-face {
  font-family: StencilStd;
  src: url("../fonts/StencilStd.otf") format("opentype");
}

@font-face {
  font-family: StencilStd;
  font-weight: bold;
  src: url("../fonts/StencilStd.otf") format("opentype");
}

.block {
  display: block;
}

.ab {
  position: absolute;
}

.rel {
  position: relative;
}


/************************
///////NAVIGATION////////
************************/

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {}
}

.navbar-fixed-top {
  padding: 0;
}

.navbar-brand {
  padding: 0;
  opacity: 65%;
}

.navbar-brand img {
  opacity: 0.6;
  -webkit-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  transition: opacity .7s ease-in-out;
}

.navbar-brand img:hover {
  opacity: 1;
  -webkit-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  transition: opacity .7s ease-in-out;
}

.navbar-default {
  background-color: #00356c;
  border-color: #00356c;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #006b6c;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #4c7198;
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #f3f2ea;
  background-color: #006b6c;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 1px;
  margin-right: -14px;
  padding-bottom: 9px;
  border-radius: 0;
  border: none;
}

.dropdown-menu {
  border: 1px 0 0 0;
  border-color: #4c7198;
}

.dropdown-menu>li>a {
  color: #4c7198;
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a.nav-cart {
  background-color: #6c0100;
}

.fa.fa-cart-plus {
  line-height: 0em;
}

.active-main {
  background-color: #006b6c;
}


/************************
////////HOMEPAGE/////////
************************/

.logo-section {
  margin-top: 3em;
  padding: 0;
}

.logo-section img {
  width: 100%;
  height: auto;
}

.logo-section .col-lg-12 {}

hr {
  border-color: transparent;
}

.about-section {
  background-color: #00356c;
  background-image: url('../img/intro-rect.png');
  background-repeat: no-repeat;
  background-size: contain;
  color: #f3f2ea;
}

.about-title {
  color: #ffffff;
  font-size: 5em;
  font-weight: bold;
  font-family: 'StencilStd', serif;
}

.about-info {
  color: #ffffff;
  font-size: 1.23em;
  line-height: 1.7em;
  margin-bottom: 3em;
}

.info-large-text {
  font-size: 1.3em;
}

@media (max-width: 425px) {
  .logo-section {
    margin-top: 3em;
  }
  .about-section {
    padding: 0 2em;
  }
}

@media(min-width: 768px) {
  .about-title {}
}

@media(max-width: 375px) {
  .about-title {
    font-size: 2em;
  }
}

#testimonial {
  background-color: #c9c8bf;
}

#testimonial h2 {
  color: #6e6e6e;
  font-size: 6em;
  font-weight: bold;
}

#testimonial h3 {
  color: #6e6e6e;
}

.review-padding {
  padding-left: 2em;
}

.carousel-control.left, .carousel-control.right {
  background: none;
  width: 25px;
}

.broun-block {
  padding-bottom: 34px;
}

.block-text {
  background-color: transparent;
  color: #6e6e6e;
  font-size: 14px;
  margin-top: 27px;
  padding: 15px 18px;
}

.block-text a {
  color: #6e6e6e;
  font-size: 25px;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.block-text p {
  color: #585858;
  font-family: Georgia;
  font-style: italic;
  line-height: 20px;
  margin-top: 20px;
}

.sprite-i-triangle {
  background-position: 0 -1298px;
  height: 44px;
  width: 50px;
}


/*****************************
//////HOME PAGE SERVICES /////
*****************************/

#catering, #services {
  background-color: #f3f2ea;
}

#catering h1 {
  color: #6e6e6e;
  font-size: 6em;
  font-weight: bold;
}

#catering h2 {
  color: #6e6e6e;
  margin-top: -0.4em;
  font-size: 4.5em;
}

#catering p, #gifts p, #services p {
  font-size: 1.1em;
  font-weight: bold;
  color: #6e6e6e;
  line-height: 1.5em;
  margin: 3em 0em;
}

#gifts {
  background-color: #c9c8bf;
}

#gifts h1, #services h1 {
  color: #6e6e6e;
  font-size: 5em;
  font-weight: 700;
  margin-top: -0.1em;
}

#gifts h2, #services h2 {
  color: #6e6e6e;
  font-size: 3.5em;
}

#gifts .line-height {
  padding-top: 98px;
}

.left-margin {
  margin-left: 4em;
}

.pic-padding {
  padding-top: 7em;
}

@media(max-width: 425px) {
  #catering h1 {
    font-size: 5em;
  }
  #catering h2 {
    font-size: 3.5em;
  }
  .left-margin {
    margin-left: 0.5em;
  }
  #gifts h1, #services h1 {
    font-size: 4em;
  }
  #gifts h2, #services h2 {
    font-size: 2.5em;
  }
  .pic-padding {
    padding-top: 1em;
  }
}

@media(max-width: 375px) {
  #catering h1 {
    font-size: 4em;
  }
  #catering h2 {
    font-size: 2.5em;
  }
}

@media(max-width: 320px) {
  #catering h1 {
    font-size: 3em;
  }
  #gifts h1, #services h1 {
    font-size: 3em;
  }
  #gifts h2, #services h2 {
    font-size: 1.5em;
  }
}

.carousel {
  -webkit-box-shadow: 10px 10px 15px 2px rgba(161, 160, 155, 1);
  -moz-box-shadow: 10px 10px 15px 2px rgba(161, 160, 155, 1);
  box-shadow: 10px 10px 15px 2px rgba(161, 160, 155, 1);
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  background-size: 70%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel-control {
  color: #ffffff;
  opacity: .9;
  background-image: none;
  background-color: transparent;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: 0.5;
}

.panel {
  margin-bottom: 0;
  padding-bottom: 4em;
}

.btn-default {
  color: #fff;
  background-color: #006b6c;
  border-color: #006b6c;
}

.btn-default:hover {
  color: #006b6c;
  background-color: transparent;
  border: 1px solid #006b6c;
}

.btn {
  border-radius: 6px;
  padding: 15px 34px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  margin-bottom: 15px;
}

@media(max-width: 1024px) {
  #cateringCarousel {
    padding-top: 0;
  }
  #servicesCarousel {
    padding-top: 0;
  }
  #gifts .line-height {
    padding-top: 0;
  }
}


/************************
/////////FOOTER//////////
************************/

.footer-decoration {
  background-color: #d3d3c9;
  background-size: 100% auto;
  height: 80px;
}

.footer-decoration:before {
  content: "";
  background-image: url("../img/separator-top.svg");
  position: absolute;
  background-repeat: repeat-x;
  background-position: center;
  width: 100%;
  height: 3px;
}


/* Wrapper for page content to push down footer */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}


/* Set the fixed height of the footer here */

#push, #footer {}

#footer {
  background-color: #d3d3c9;
  padding-top: 20px;
  color: #404345;
}

.first-footer {
  padding-bottom: 25px;
}

.first-footer h4 {
  padding-bottom: 17px;
}

.first-footer p {
  line-height: 1.7em;
}

.second-footer {
  background-color: #c8c8bb;
}

.right-side {
  padding-top: 10px;
  padding-left: 25px;
  margin-bottom: 0;
}

i {
  padding-right: 13px;
}

.city-line-height {
  margin-top: -12px;
}


/************************
///////ABOUT PAGE////////
************************/

.title {
  background-color: transparent;
  color: #00356c;
  text-align: center;
  border: 3px solid #00356c;
  font-family: 'StencilStd', serif;
}

.about-page-title h1 {
  color: #00356c;
  padding: 20px 0;
  letter-spacing: 5px;
  font-weight: bold;
}

.about-line-height {
  background-color: #f3f2ea;
  color: #404345;
  line-height: 2em;
  text-align: justify;
  padding: 2em;
}

.about-img {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.larger {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 5em;
}

.staff {
  text-align: center;
  margin-top: 35px;
}

.name-about {
  text-align: center;
  font-family: 'Yesteryear', cursive;
  font-size: 2em;
  margin-top: 15px;
  color: #00356c;
}

.alicia-font {
  font-size: 4em;
}

.staff-title {
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
}

.staff-heading {
  letter-spacing: 8px;
  text-align: center;
  margin: 66px 0;
}

.position-about {
  text-align: center;
  font-family: 'Yesteryear', cursive;
  font-size: 2em;
  color: #00356c;
  margin-top: -23px;
}

@media (max-width: 375px) {
  .name-about {
    margin: 0 auto;
  }
  .larger {
    font-size: 3em;
  }
  .alicia-font {
    font-size: 3em;
  }
}


/************************
//////CATERING PAGE//////
************************/

.title {
  text-align: center;
  border: 5px solid #00356c;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 75px;
  padding: 10px 0;
}

.title h1 {
  color: #00356c;
  padding: 20px 0;
  letter-spacing: 5px;
  font-weight: bold;
}

.catering img {}

.grey-background {
  background-color: #404345;
  margin-bottom: 15px;
  padding: 0;
}


/************************
//////GIFTS PAGE///////
************************/

.gifts-margin-bottom {
  margin-bottom: 15px;
}

.ornaments {
  background-color: #404345;
  padding: 0;
}

.ornaments img {
  max-height: 100%;
  max-width: 100%;
  transition: 0.3s all ease;
  position: relative;
  width: 100%;
  /* for IE 6 */
  opacity: .2;
}

.ornaments img:hover {
  opacity: .7;
}

.ornaments h2 {
  color: #fff;
  position: absolute;
  top: 37%;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 4em;
}

@media (max-width: 425px) {
  .ornaments h2 {
    top: 26%;
    font-size: 1.5em;
  }
}

#organo h2 {
  font-size: 4em;
  font-weight: bold;
  color: #6e6e6e;
}

#organo a {
  text-decoration: underline;
}


/************************
//////SERVICES PAGE//////
************************/

.services h3 {
  color: #404345;
}

.services ol, ul {
  margin-top: 0;
  margin-bottom: 1px;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: none;
}

.tab-content {
  transition: 0.3s all ease;
}

.nav-tabs>li>a:hover {
  background-color: transparent;
  color: #00356c;
}

.services .nav>li>a {
  padding: 3px 15px;
}

.services .tan-background {
  background-color: #d3d3c9;
  padding: 44px 15px;
}

.white-background {
  background-color: #fff;
  height: 50%;
  padding: 33px;
}

.thumbnail>img:hover {
  transform: scale(1);
  transition: all 0.5s ease;
}

#contact {
  margin-bottom: 2em;
}


/************************
/////////GALLERY/////////
************************/

.thumbnail {
  padding: 0px;
  background-color: #d3d3c9;
  border: 1px solid;
  border-color: #fff #fff #fff;
  border-radius: 3px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li {
  margin-bottom: 11px;
  margin-right: 20px;
}

.gallery-container .nav-tabs>li>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
  font-size: 1.5em;
  background-color: #d3d3c9;
}

.gallery-container .nav-tabs>li.active>a:hover, .gallery-container .nav-tabs>li>a:hover {
  color: #fff;
  background-color: #00356c;
}


/************************
/////////EVENTS/////////
************************/

.texture {
  background-image: url('../img/texture.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.event-title h1 {
  color: #f3cf30;
  font-size: 16.9rem;
  font-weight: bold;
  font-family: 'StencilStd', serif;
}

.event-title h2 {
  color: #f3cf30;
  font-size: 11rem;
  font-weight: bold;
  font-family: 'StencilStd', serif;
  line-height: 0.4em;
}

.event-margin-bottom {
  margin-bottom: 10em;
}

.event-date {
  float: right;
  font-family: 'StencilStd', serif;
}

.event-day {
  font-size: 5em;
  color: #6e6e6e;
}

.event-year {
  font-size: 4em;
  color: #c9c8bf;
  float: right;
  line-height: 0.5em;
}

@media(max-width: 425px) {
  .event-date {
    float: left;
  }
  .event-year {
    float: left;
  }
}

.event-weekday {
  font-size: 3em;
  color: #6e6e6e;
  font-family: 'StencilStd', serif;
}

.event-location {
  font-size: 2.5em;
  color: #6e6e6e;
  font-weight: bold;
  margin-top: -0.5em;
}

.event-description {
  font-size: 1.7em;
  color: #6e6e6e;
  font-weight: bold;
}


/************************
//////SUB CATEGORY///////
************************/

.product-wrapper {
  border: 2px solid #ddd;
  margin-bottom: 15px;
  background-color: #fff;
}

.product-wrapper img {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.product-wrapper h4 {
  text-align: center;
}

.product-info button {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.push-down {
  padding-bottom: 207px;
}

@media(max-width: 425px) {
  .push-down {
    padding-bottom: 0px;
  }
}


/************************
////////CART PAGE////////
************************/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: #c8c8bb;
}

.table {
  background-color: #f3f2ea;
}

.table-header {
  padding: 10px;
}

.table-hover>tbody>tr:hover {
  background-color: #f7f7f2;
}

td {
  font-size: 1.1em;
}

.cart h1 {
  padding-bottom: 15px;
}

.clear-btn {
  background: none;
  border: none;
}

.cart-total {
  font-weight: bold;
  font-size: 1.5em;
}

.empty-cart {
  padding-left: 7px;
}

.form-control {
  display: inline-block;
  width: 22%;
}
